@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Lap_Shop_Project.Resources;
@model List<Lap_Shop_Project.Models.VwItem>
@section Styles {
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/Admin/assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <!-- End plugin css for this page -->
}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Data table</h4>
        @{if (User.IsInRole("Admin"))
                                            {
        <a href="/Admin/Items/Edit" type="Submit" class="btn btn-gradient-success btn-rounded btn-fw">New</a>
                                            } 
                                            }
        <div class="row">
            <div class="col-12">
                <div id="order-listing_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row">

                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label>@ResAdmin.lblCategoryName</label>
                                <select  asp-items="@(new SelectList(ViewBag.lisCategories,"CategoryId","CategoryName"))" 
                                onchange="Search(this)">

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="order-listing" class="table dataTable no-footer" aria-describedby="order-listing_info">
                                <thead>
                                    <tr>
                                        <th class="sorting sorting_asc" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Order #: activate to sort column descending" style="width: 107.963px;">@ResAdmin.LblImage</th>
                                        <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-label="Customer: activate to sort column ascending" style="width: 126.738px;">@ResAdmin.lblItemName</th>
                                        <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 112.238px;">@ResAdmin.lblCategoryName</th>
                                        <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 112.238px;">@ResAdmin.lblItemType</th>
                                        <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 112.238px;">@ResAdmin.lblPrice</th>
                                        <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending" style="width: 109.088px;">@ResGeneral.LblAction</th>
                                    </tr>
                                </thead>
                                <tbody>








                                    @foreach (var Cate in Model)
                                    {
                                        <tr class="odd">
                                            <td class="sorting_1">
                                                <img src="/Uploads/Items/@Cate.ImageName" />
                                            </td>
                                            <td>@Cate.ItemName</td>

                                            <td>@Cate.CategoryName</td>
                                            <td>@Cate.ItemTypeName</td>
                                            <td>@Cate.SalesPrice</td>
                                            
                                                <td>
                                                <a asp-controller="Items" asp-action="Edit" asp-route-itemid="@Cate.ItemId" class="btn btn-outline-primary">Edit</a>
                                                <a asp-controller="Items" asp-action="Delete" asp-route-itemid="@Cate.ItemId" class="btn btn-outline-danger">Delete</a>
                                            </td>
                                            
                                            
                                        </tr>
                                    }



                                </tbody>
                            </table>
                        </div>
                    </div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="order-listing_info" role="status" aria-live="polite">Showing 1 to 10 of 10 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="order-listing_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="order-listing_previous"><a href="#" aria-controls="order-listing" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="order-listing" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item next disabled" id="order-listing_next"><a href="#" aria-controls="order-listing" data-dt-idx="2" tabindex="0" class="page-link">Next</a></li></ul></div></div></div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <!-- Plugin js for this page -->
    <script src="~/Admin/assets/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/Admin/assets/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page -->
    <script src="~/Admin/assets/js/data-table.js"></script>
    <!-- End custom js for this page -->
    <script>
        function Search(dropDown) {
            var id = $(dropDown).val()
            window.location.href = "/Admin/Items/Search?id=" + id;
        }
    </script>
}
